@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --primary: #2b7cee;
  --primary-dark: #1a65c9;
  --background-light: #f6f7f8;
  --background-dark: #101822;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --font-display: var(--font-lexend);
  --shadow-soft: 0 10px 40px -10px rgba(0, 0, 0, 0.05);
  --shadow-glow: 0 0 15px rgba(43, 124, 238, 0.3);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), 'Lexend', sans-serif;
}

/* Custom Scrollbar hide for cleaner mobile look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}